<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container text-center text-md-start">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3 mb-md-0">
          <p class="mb-0 text-secondary">&copy; 2026 Avencera. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          
        </div>
      </div>
      <div class="d-flex justify-content-center gap-3 mt-4"><div style="height: 50%;">{% include logo.html %}</div></div>
    </div>
  </footer>