<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold text-white" href="/"><i class="bi bi-shield-check me-2"></i>{{ site.title }}</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-3">
          <li class="nav-item"><a class="nav-link" href="/security">Security</a></li>
          <li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
          <li class="nav-item"><a class="nav-link" href="/status">Status</a></li>
        </ul>
        <div class="d-flex gap-2">
          <a href="https://broken-website-link.com" class="btn btn-outline-secondary">Main site</a>
          
        </div>
      </div>
    </div>
  </nav>